*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #252627;
    color: wheat;
    font-size: 16px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(laptop.jpg);
}
.container{
    display: flex;
    flex-wrap: wrap;
}
/* styling my header using grid view*/
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.logo{
    font-size: 0.8em;
    font-style: italic;
    font-weight: 200;
    color: tomato;
}
nav{
    display: flex;
    justify-content: center;
}
a{
    padding: 10px;
    margin: 10px;
    font-size: 1em;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: gray;
}
a:hover{
    color: tomato;
}
/* styling my home view*/
.home{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.home-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.profile-image{
    width: 50vh;
    height: 30vw;
    max-width: 100%;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
}
.home-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    font-size: 3em;
    font-family: cursive;
    
}
/*to style my headings for each sections*/
h1{
    font-size: 4.5rem;
}

.about-info,
.services-info{
    background-color: #252627;
    box-shadow:  0 0 1.2rem rgba(0,0,0,.25);
    padding: 20px;
    max-width: 70vw;
    font-size: 1.5em;
    font-family: cursive;
}

.work-img{
    width: 50vh;
    height: 40vw;
    max-width: 100%;
}
.work-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}
.contact{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 30vh;
    align-items: center;
    justify-content: center;
}
summary{
    font-size: 2rem;
}
summary:hover{
    color: tomato;
}
label{
    font-size: 1.2em;
    color: wheat;
    font-style: italic;
}
footer{
    font-style: italic;
    font-size: 1em;
    color: tomato;
}
/*designing for responsiveness of mobile phones*/
@media(min-width:360px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-size: 14px;
    }
    label{
        font-size: 0.8em;
    }
    summary{
        font-size: 1.5rem;
    }
    h1{
        font-size: 3rem;
    }
    .home-info{
        height: 500px;
        font-size: 2em;
    }
    .profile-image{
        width: 50vh;
        height: 50vh;
        margin-left: 0; 
    }
    .work-img{
        width: 50vh;
        height: 40vh;
        max-width: 100%;
    }
    header{
        display: flex;
        flex-wrap: wrap;
    }
}
/*designing for responsiveness of mobile phones*/
@media(min-width:600px){
    .contact{
        height: 20vh;
    }
}
@media(min-width:1024){
    .container{
        height: 100vh;
    }
}